%a{:href => 'http://daringfireball.net/projects/markdown/syntax'} markdown syntax guide
- form_for [:admin, @page] do |f|
  - unless f.error_messages.blank?
    .errors= f.error_messages
  = f.text_field :title
  = f.text_field :handle
  = f.text_area :contents
  = f.submit 'Submit'