- form_for [:admin, page], :html => { :class => 'flogiston-cms' } do |f|
  %input{ :type => 'hidden', :name => 'preview' }/
  .guide
    = link_to 'markdown syntax guide', 'http://daringfireball.net/projects/markdown/syntax', :target => '_blank'
  - unless f.error_messages.blank?
    .errors= f.error_messages
  .field
    %label{:for => 'page_title'}
      Title:
    = f.text_field :title
  .field
    %label{:for => 'page_handle'}
      Path:
    = '/' + f.text_field(:handle)
  .field
    %label{:for => 'page_template_id'}
      Template:
    = f.select(:template_id, template_options)
  - f.fields_for :values do |ff|
    - page.values ||= {}
    - page.template_replacements.each do |r|
      .field
        %label{:for => "page_values_#{r}"}
          == #{r}:
        = ff.text_field r.to_sym, :value => page.values[r]
  .field
    %label{:for => 'page_format'}
      Format:
    - page.format ||= page.default_format
    = f.select(:format, page_format_options)
  .field
    %label{:for => 'page_contents'}
      Contents:
    = f.text_area :contents
  .submit.preview
    = f.submit 'Preview', :onclick => "this.form['preview'].value = true"
  .submit
    = f.submit 'Submit'

- unless page.contents.blank?
  #preview
    = render :partial => 'pages/show', :locals => { :page => page }
