- form_for [:admin, page] do |f|
  .guide
    = link_to 'markdown syntax guide', 'http://daringfireball.net/projects/markdown/syntax', :target => '_blank'
  - unless f.error_messages.blank?
    .errors= f.error_messages
  .field
    %label{:for => 'page_title'}
      Title:
    = f.text_field :title
  .field
    %label{:for => 'page_handle'}
      Path:
    = '/' + f.text_field(:handle)
  .field
    %label{:for => 'page_contents'}
      Contents:
    = f.text_area :contents
  .submit
    = f.submit 'Submit'

- unless page.contents.blank?
  #preview
    = render :partial => 'pages/show', :locals => { :page => page }
