%table#pages
  %thead
    %tr.header
      %th handle
      %th title
      %th actions
  %tbody
    - @pages.each do |page|
      %tr.body
        %td
          = link_to(page.path, page.path, { :target => '_blank' }) 
          = show_invalid_handle(page)
        %td= page.title
        %td.actions 
          = link_to 'edit', edit_admin_page_path(page)
          = link_to 'delete', admin_page_path(page), :confirm => 'Are you sure?', :method => :delete
