- form_for [:admin, layout], :html => { :class => 'flogiston-cms' } do |f|
  %input{ :type => 'hidden', :name => 'preview' }/
  - unless f.error_messages.blank?
    .errors= f.error_messages
  .field
    %label{:for => 'layout_handle'}
      Handle:
    = f.text_field(:handle)
  .field
    %label{:for => 'layout_contents'}
      Contents:
    = f.text_area :contents
  .submit.preview
    = f.submit 'Preview', :onclick => "this.form['preview'].value = true"
  .submit
    = f.submit 'Submit'

- unless layout.contents.blank?
  #preview
    = render :partial => 'show', :locals => { :layout => layout }
